@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

@font-face {
  font-family: "American Captain", sans-serif;
  src: local("American Captain"),
  url(./assets/font/AMERICAN_CAPTAIN_0.ttf) format("truetype");
}

@font-face {
  font-family: "Inter", sans-serif;
  src: local("Inter"),
  url(./assets/font/INTER-VARIABLEFONT_SLNTWGHT.ttf) format("truetype");
}

body {
  font-family: 'Inter';
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("assets/backgroundsatrapIDpage.jpg");
  background-size: cover;
  color: #fff;
}

p {
  font-size: 18px;
}

small {
  font-size: 11px;
  opacity: 0.7;
}

div {
  font-size: 18px;
}

hr {
  background-color: #fff;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:disabled {
  background: transparent;
  box-shadow: none;
  color: #fff;
  border: 2px solid white;
}

.btn-primary:hover {
  color: #000;
  background: #fff;
  border: 2px solid white;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:disabled {
  background: white;
  border-color: black;
  box-shadow: none;
  color: black;
  border: 2px solid black;
}

.btn-secondary:hover {
  color: black;
  border-color: #ffffff;
  background: #ffffff;
  border: 2px solid black;
}

.container {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid #fff; */
}

.img-thumbnail {
  background-color: transparent;
}

.modal-content {
  color: black;
}

.span-link:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.span-link {
  text-decoration: underline;
}

.Vue-Toastification__toast--info {
  background-color: #405374;
}

.Vue-Toastification__toast--success {
  background-color: #00C9D1;
}

.Vue-Toastification__toast--error {
  background-color: #e26670;
}

@media only screen and (max-width: 767px) {
  #sidebar-container {
    margin-bottom: 15px;
  }
}
